<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="/js/color_picker/jquery.minicolors.js"></script>
    <link rel="stylesheet" href="/js/color_picker/jquery.minicolors.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
            integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<label>NAME : </label> <input id="name" type="text">
<br>
<label>PW : </label> <input id="pw" type="text"><br>
<label>rePW : </label> <input id="repw" type="text"><br>
<label>EMAIL : </label> <input id="email" type="text"><button onclick="emailAuth()">인증하기</button>
<br>
<input id="personalColor"><input type="text" id="colorName">
<br>

<button onclick="signup()">확인</button>

<script src="/js/user/signup.js"></script>

</body>
</html>
