
    <div class="flex" style="flex-direction: column;">
        <div id="search_box" class="flex">
            <input id="search_input" type="text" placeholder="검색할 유저를 입력하세요.">
                <button id="search_button">검색</button>
        </div>
        
        <div id="result_box">
            <label for="only_online"><input id="only_online" type="checkbox">온라인</label> 
            <label for="near_by"><input id="near_by" type="checkbox">가까운</label> 

            

        </div>
    </div>

    <div id="friend_box">
        <div>
            <div style="border-style: solid; height: 30px;">온라인</div>
            <div id="onlineFriendBox">



            </div>
        </div>
        <div>
            <div style="border-style: solid; height: 30px;">오프라인</div>
            <div id="offlineFriendBox">



            </div>
        </div>
    </div>


    <!-- <div style="color: #00dbc5"> Oh, venator. Beatus sanctus.<br> Tuam fadi par
    diat.<br> Cor tuus ne victus fiat morte.<br> Erit sanguinem opulento... </div>
    -->