<!DOCTYPE html>
<html lang="kor">
    <head>

        <meta charset="utf-8">

        <!--JQuery-->
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" type="text/css" href="/css/private/private.css">
        <link rel="stylesheet" type="text/css" href="/css/private/friend.css">


    </head>
    <body>

    <div id="side_bar">
        <h2>
          <a href="/" style="color:black">WM</a>
        </h1>
        <ul id="menu">
            <li class="menu_item" onclick="friendMode()">Friend</li>
            <li class="menu_item" onclick="chatMode()">Chat</li>
        </ul>
    </div>
    <div id="app_box">


    </div>

    <script src="/js/private.js"></script>

    </body>

</html>