<!DOCTYPE html>
<html lang="kor">
    <head>

        <meta charset="utf-8">

        <!--JQuery-->
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

        <!--SockJS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
                integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" type="text/css" href="/css/private/private.css">
        <link rel="stylesheet" type="text/css" href="/css/private/friend.css">

        <!-- StompJS -->
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script> 


    </head>
    <body>

    <div id="side_bar">
        <h2>
          <a href="/" style="color:black">WM</a>
        </h1>
        <ul id="menu">
            <li class="menu_item" onclick="friendMode()">Friend</li>
            <li class="menu_item" onclick="chatMode()">Chat</li>
        </ul>
    </div>
    <div id="app_box">


    </div>

    <script src="/js/private/private.js"></script>
    <script>

          let sock = new SockJS("/ws");
            let stomp = Stomp.over(sock);

            stomp.connect({}, (msg) => {
                    console.log(msg);

                    stomp.subscribe("/topic/allUserList", (message) => {

                        if(mode == "friend")
                        {

                            // 유저리스트를 JSON으로 바꿔준다.
                            var data = JSON.parse(message.body);

                            var html = "";
                            var online = data.onlineUser;
                            var search = $("#search_input").val();
                            

                            for(var i = 0; i < online.length; i++)
                            {
                                if(!online[i].name.toLowerCase().includes(search.toLowerCase())) continue;

                                html += 
                                    '<div class="userContainer">'+
                                    '                <a class="userName" style="color:' + online[i].colorCode + '" href="/user/' + online[i].no + '">' + online[i].name + '</a>'+
                                    '                <div class="limeLed"></div> <div style="display:inline-block; min-width:70%"></div> <button>채팅</button><br><br>'+ 
                                    '                <div class="introduce">' + online[i].introduce + '</div>'+
                                    '</div>';
                            }

                            if(!$("#only_online").is(":checked"))
                            {
                                var offline = data.offlineUser;
                                for(var i = 0; i < offline.length; i++)
                                {
                                    if(!offline[i].name.toLowerCase().includes(search.toLowerCase())) continue;
                                    html +=  
                                    '<div class="userContainer">'+
                                    '                <a class="userName" style="color:' + offline[i].colorCode + '" href="/user/' + offline[i].no + '">' + offline[i].name + '</a>'+
                                    '                <div class="redLed"></div> <div style="display:inline-block; min-width:70%"></div> <button>채팅</button><br><br>'+ 
                                    '                <div class="introduce">' + offline[i].introduce + '</div>'+
                                    '</div>';

                                }
                                
                            }

                            $("#result_box").html(html);

                        }

                    });
                    
            });

    </script>

    </body>

</html>