body{
    display: flex; 
    flex-direction: row; 
    margin: 0; 
    height: 100vh;
}

#side_bar{
    border-style: solid; 
    width:100px; 
    height: 99%; 
}

#app_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    width: 100%;
}

#menu{
    list-style: none;
    cursor: pointer;
}

#result_box{
    overflow: scroll;

}

.menu_item:hover{
    color: #00dbc5;
}

.flex{
    display: flex;
    flex-direction: row;
}


.userName{
    text-decoration: none;
    font-size: x-large;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.introduce{
    font-size: smaller;

}

.userContainer{
    border-style: solid;
    border-color: black;
    border-width: 0px;
    border-bottom-width: 3px;

    padding: 5px 30px 20px 10px;
}

.limeLed{
    background-color: lime;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    display:inline-block ;
}

.redLed{
    background-color: red;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    display:inline-block ;
}